.change-password-page,
#password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1%;
}

#password-form {
  padding: 1%;

  & > * {
    max-height: 5rem;
  }
}

.input-error-password {
  color: red;
  margin: 0;
  padding: 0;
  height: 1rem;
}
