.profile-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
}

.addresses {
  display: flex;
  gap: 1rem;
}

.personal-information,
.address-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.address-container {
  padding: auto 80px;
}

.personal-information-line,
.address-information-line {
  font-size: large;
}

.label {
  font-weight: bold;
}
