.detailde-product-wrapper {
  height: 100vh;
}

.detailde-product,
.detailde-product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailed-product__name {
  color: #f865b0;
  text-align: center;
}

.detailed-product__img {
  display: block;
  width: 300px;
  height: 500px;

  @media (max-width: 500px) {
    width: 200px;
    height: 300px;
  }
}

.detailed-product__description {
  max-width: 700px;
  padding: 5px;
  color: #48304d;
}

.detailed-product__price-wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 20px;
}

.detailed-product__price-discount {
  color: #48304d;
  text-decoration: line-through;
  font-size: 1.5rem;
}

.detailed-product__price {
  color: #f865b0;
  width: fit-content;
  font-size: 1.7rem;
}

.swiper {
  width: 500px;
  height: 600px;

  @media (max-width: 500px) {
    width: 370px;
    height: 400px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 35px;
  color: #f865b0;
  transition: all 0.5s linear;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #f865b0;
}
