.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-text {
  margin: 5px 0 0 0;
  color: #48304d;
  &:hover {
    cursor: default;
  }
}

.error-big {
  font-size: 1.5rem;
}

.error-small {
  font-size: 1rem;
}

.error-link {
  border-radius: 30px;
  color: #fbcaef;
  padding: 10px 20px;
  background: #f865b0;
  margin-top: 20px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
