.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
}
.error-link {
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  background: orange;
  margin-top: 20px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
