.main-wrapper {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  & > * {
    height: fit-content;
    width: calc(100% - 10px);
  }
}

.main-promocodes {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.main-image {
  width: 370px;
  height: fit-content;
}

.promocodes-list {
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 50px;
}

.main-button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #48304d;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  font-size: 1.5rem;
  color: #f865b0;
  &:hover {
    cursor: pointer;
    border-color: #fbcaef;
  }
}
