.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.header-logo {
  height: 40px;
}
