#login-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  & > label {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
  }
  & > * {
    margin-top: 5px;
  }
  @media (max-width: 500px) {
    width: 80%;
  }
}

.input-error {
  color: red;
}
