.registration-form {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 300px;
  border: 1px solid black;
}

.adress-field {
  border: 1px solid black;
  padding: 5px;
}
